{% extends "pages/base.html" %}
{% load static %}

{% block title %}Email enviado | Risk Clube{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<section class="auth-page">

    <div class="auth-bg"></div>


    <div class="auth-card">

        <div class="auth-header">
            <span>Verifique seu email</span>
            <h1>Link enviado</h1>
            <p>Se o email informado estiver cadastrado, você receberá um link para redefinir sua senha.</p>
        </div>

        <div class="auth-footer">
            <a href="{% url 'account_login' %}">Voltar para login</a>
        </div>

    </div>
</section>
{% endblock %}