{% extends "pages/base.html" %}
{% load static %}

{% block title %}Criar conta | Risk Clube{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<section class="auth-page">
    <div class="auth-bg"></div>
    <div class="auth-card">

        <div class="auth-header">
            <span>Área do cliente</span>
            <h1>Criar conta</h1>
            <p>Cadastre-se para acompanhar pedidos, compras e novidades da Risk Clube.</p>
        </div>

        <form method="post" action="{% url 'account_signup' %}" class="auth-form">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="auth-error">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="auth-field">
                <label for="id_full_name">Nome completo</label>
                {{ form.full_name }}

                {% if form.full_name.errors %}
                <small>{{ form.full_name.errors }}</small>
                {% endif %}
            </div>

            <div class="auth-field">
                <label for="id_email">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                <small>{{ form.email.errors }}</small>
                {% endif %}
            </div>

            <div class="auth-field">
                <label for="id_password1">Senha</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <small>{{ form.password1.errors }}</small>
                {% endif %}
            </div>

            <div class="auth-field">
                <label for="id_password2">Confirmar senha</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <small>{{ form.password2.errors }}</small>
                {% endif %}
            </div>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}

            <button type="submit" class="auth-btn">
                Criar conta
            </button>
        </form>

        <div class="auth-footer">
            <p>Já tem uma conta?</p>
            <a href="{% url 'account_login' %}">Entrar</a>
        </div>

    </div>
</section>
{% endblock %}