{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Sobre Nós | Risk Clube{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}

<section class="about-risk-page">

    <div class="about-hero">
        <div class="about-text about-left">
            <span>A RISK</span>
            <div class="about-line"></div>
            <p>
                A Risk é onde cada detalhe carrega um propósito.
                Nossas peças são pensadas para acompanhar você em qualquer jornada,
                unindo estilo, funcionalidade e histórias que merecem ser lembradas.
            </p>
        </div>

        <div class="about-products">
            <img src="{% static 'img/about/produtos.png' %}" alt="Produtos Risk">
        </div>

        <div class="about-text about-right">
            <h1>NOSSA<br>HISTÓRIA</h1>
            <div class="about-line"></div>

            <p>
                Criamos produtos personalizados que transformam histórias
                em algo que você pode carregar todos os dias.
            </p>

            <span>A RISK</span>
            <div class="about-line"></div>
            <p>
                Cada produto é criado com cuidado e intenção,
                do início ao fim. Mais do que itens personalizados,
                entregamos lembranças que fazem parte da sua jornada.
            </p>
        </div>
    </div>

    <div class="about-video-section">

        <video class="about-video-bg" autoplay muted loop playsinline>
            <source src="{% static 'videos/detail-video.mp4' %}" type="video/mp4">
        </video>

        <div class="about-video-overlay"></div>

        <div class="about-video-content">
            <span>NOSSA ESSÊNCIA</span>
            <div class="about-line white"></div>


        </div>

    </div>

</section>
<br>
{% endblock %}