{% extends "pages/base.html" %}
{% load static %}

{% block title %}Risk Clube{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}



<section class="home-products" id="products">
    <div class="home-product-grid">

        {% for product in products %}

            {% if product.is_vip %}
                <a href="{% url 'customization:vip_choose_type' product.slug %}" class="product-card product-card-link product-card-vip">
            {% else %}
                <a href="{{ product.get_absolute_url }}" class="product-card product-card-link">
            {% endif %}

                <div class="home-product-image-link {% if product.is_vip %}vip-image-link{% endif %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="home-product-image">
                </div>

                <div class="home-product-info">

                    {% if product.is_vip %}
                    <span class="vip-mini-label">
                        Personalização exclusiva
                    </span>
                    {% endif %}

                    <h3 class="home-product-title">
                        {{ product.name }}
                    </h3>

                    <p class="home-product-price">
                        R$ {{ product.price }}
                    </p>

                    {% if product.installments %}
                    <span class="home-product-installments">
                        {{ product.installments }}
                    </span>
                    {% endif %}

                    <span class="home-product-button">
                        {% if product.is_vip %}
                            Personalizar
                        {% else %}
                            Comprar
                        {% endif %}
                    </span>

                </div>
            </a>

        {% empty %}

            <p class="home-products-empty">
                Nenhum produto encontrado.
            </p>

        {% endfor %}
        

    </div>
</section>

{% endblock %}