{% extends "pages/base.html" %}
{% load static %}

{% block title %}Produtos | Risk Clube{% endblock %}

{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'css/product.css' %}"
>

{% endblock %}


{% block content %}

<section class="products-page">

    <!-- CATEGORIAS -->

    <nav class="products-category-bar">




    <a
        href="{% url 'pages:products' %}"
        class="
            products-category-link
            {% if not current_category %}active{% endif %}
        "
    >
        TODAS
    </a>


    {% for category in categories %}

        <a
            href="?category={{ category.slug }}"
            class="
                products-category-link
                {% if current_category == category %}active{% endif %}
            "
        >
            {{ category.name|upper }}
        </a>

    {% endfor %}

</nav>

    <!-- PRODUTOS -->

    <div class="products-content">

        {% if current_category %}

            <div class="products-heading">

                <h1>
                    {{ current_category.name|upper }}
                </h1>

            </div>

        {% endif %}


        <div class="products-grid">

            <div class="products-feature">

        <img
            src="{% static 'img/products-banner.jpg' %}"
            alt="Risk Clube"
            class="products-feature-image"
        >

    </div>


            {% for product in products %}

                {% if product.is_vip %}

                    <a
                        href="{% url 'customization:vip_choose_type' product.slug %}"
                        class="product-item product-item-link"
                    >

                {% else %}

                    <a
                        href="{{ product.get_absolute_url }}"
                        class="product-item product-item-link"
                    >

                {% endif %}


                    <div class="product-image-container">

                        {% if product.image %}

                            <img
                                src="{{ product.image.url }}"
                                alt="{{ product.name }}"
                                class="product-image"
                            >

                        {% endif %}

                    </div>


                    <div class="product-info">

                        <h2 class="product-name">
                            {{ product.name|upper }}
                        </h2>

                        <p class="product-price">
                            R$ {{ product.price }}
                        </p>

                    </div>

                </a>

            {% empty %}

                <div class="products-empty">

                    <p>
                        Nenhum produto encontrado.
                    </p>

                </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}