{% extends "pages/base.html" %}

{% block content %}

<section style="padding:100px 20px;text-align:center;">
    {% if order %}
        {% if order.status == "paid" %}
            <h1>Pagamento aprovado!</h1>
            <p>Pedido #{{ order.id }}</p>
            <p>Já recebemos seu pagamento e vamos começar a produção.</p>
        {% else %}
            <h1>Pedido recebido!</h1>
            <p>Pedido #{{ order.id }}</p>
            <p>Seu pagamento ainda está sendo confirmado.</p>
        {% endif %}

        <h3>Total: R$ {{ order.total }}</h3>
    {% else %}
        <h1>Pedido não encontrado</h1>
    {% endif %}
</section>

{% endblock %}